.fable/
.vs/
obj/
bin/
dist/
global.json
packages/
node_modules/
.idea/
*.DotSettings.user
.ionide/
**/public/bundle.js*
*.fs.js
node_modules/
.DS_Store
.parcel-cache/

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions